.ccp-header {
  width: 370px;
  padding: 16px;
  color: #6a7ec0;
  font-weight: 400;
  line-height: 11px;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  white-space: normal;
}

.tiltle-header {
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 400;
  line-height: 54.47px;
  text-align: left;
  color: #6a7ec0;
  padding: 16px;
}

.menu-container {
  background-color: #d9d9d980;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 350px;
}
.ant-menu {
  background-color: #d9d9d980 !important;
}
.select-router {
  width: 370px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.ant-menu-item-selected {
  color: #ffffff !important;
  background-color: #7a6767 !important;
}
.ant-menu-submenu-selected {
  background-color: #c4c4c4 !important;
}

.ant-menu-item-active,
.ant-menu-submenu-active {
  background-color: #c4c4c4 !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: #c4c4c4 !important;
}

.ant-menu-item a,
.ant-menu-submenu-title a {
  text-decoration: none;
}

.ant-menu-item a:hover,
.ant-menu-submenu-title a:hover {
  text-decoration: none;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-item,
.ant-menu.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
.ant-menu.ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  padding: 0 !important;
}

.vertical-center-lang {
  position: absolute;
  top: 90%;
  left: 8%;
}
.select-menu{
  margin-left: 15px !important;
}