.select-software {
  border-radius: 20px !important;

  .ant-select-selector {
    font-style: normal;
    font-size: 16px !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgba(66, 65, 65, 0.6) !important;
    border-radius: 5rem !important;
    outline: none;
    cursor: pointer;
    color: black !important;
  }
  .ant-select-dropdown {
    background-color: black !important;
    color: black !important;
  }
  .ant-select-item-option {
    color: black !important;
    background-color: rrgb(182, 184, 189) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
  }
  .ant-select-item-option:hover {
    background-color: rgb(182, 184, 189) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: black !important;
  }
  .ant-select-item-option-selected {
    background-color: rgb(182, 184, 189)!important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: black !important;
  }
  .ant-select-dropdown {
    background-color: rgb(182, 184, 189) !important;
  }
  .ant-select-arrow {
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    margin-top: -10px !important;
    filter: brightness(0) saturate(100%) !important; 
}

}
.checkEmptySelect .ant-select-selector {
  border: 1.5px solid red !important;
}
