.form-select-time {
    font-style: normal;
    font-size: 14px !important;
    color: #000000 !important;
    background-color: white !important;
    border: 1px solid #F66524 !important;
    border-radius: 5rem !important;
    background-size: 25px 25px;
    width: 120px !important;
    padding: 0.2rem .25rem 0.2rem 1rem !important;
    box-shadow: none !important;
}