.ui-option-css
{
    background-color: #252C48;
    border: 20px solid #1b203e;
    padding: 10px;
    height: calc(100% - 0px);
    // height:-moz-calc(100% - 100px);
    // height:-webkit-calc(100% - 100px);
    overflow: auto;
    color:rgba(255, 255, 255, 0.6);
    padding:40px;
}